:root {
  --followers-cards: #96979c;
  --green-today: #2bc67f;
  --background-cards: #f0f3fa;
  --social-user: #848487;
  --facebook: #0072ff;
  --facebook-shadown: #00a2f1;
  --header-background: #f9f9f9;
  --twitter-color: #00a2f1;
  --github-color: #111521;
  --instagram-color1: #ffbb54;
  --instagram-color2: #5d66c5;
  --instagram-color3: #ef4bcf;
  --cards-number: #000;
  --body-background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--body-background);
}

.is-light-mode {
  --background-cards: #f0f3fa;
  --header-background: #f9f9f9;
  --cards-number: #000;
  --body-background: #fff;
  --social-user: #848487;
}

.is-dark-mode {
  --followers-cards: #9697f9;
  --background-cards: #252b43;
  --header-background: #272d43;
  --cards-number: #f9f9f9;
  --body-background: #2d3556;
  --social-user: #c2c2f2;
}

.header {
  color: var(--cards-number);
  background-color: var(--header-background);
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 0 0 15px 15px;
}

/* class dark-mode*/
.dark-mode {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.dark-mode p {
  font-weight: bold;
  font-size: 1.3em;
}

/* switch */

.switch {
  display: block;
  height: 35px;
  background-color: var(--social-user);
  border-radius: 20px;
  padding: 5px;
  width: 80px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

/* checkbox */

.checkbox {
  display: none;
}

.checkbox:checked ~ .switch::before {
  transform: translateX(45px);
}

.switch::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--body-background);
  border-radius: 50%;
  transform: translateX(0);
  transition: 300ms;
  will-change: transform;
}
/* cards */

.all-cards {
  margin-top: -30px;
}

.wrapper {
  margin: 0 20px;
}

.wrapper-total {
  margin-top: 15px;
  color: var(--social-user);
  font-weight: bold;
  border-bottom: 2px solid var(--social-user);
  padding-bottom: 1.2em;
}

.grid {
  display: grid;
  grid-row-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-cards);
  text-align: center;
  box-shadow: -2px 10px 15px var(--facebook-shadown);
  transition: 500ms;
}

.card-socialMedia {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--social-user);
  margin-bottom: 0;
}

.card-socialMedia img {
  margin-right: 10px;
  width: 32px;
}

.card:before {
  content: "";
  height: 10px;
}

.card.facebook:before {
  background-color: var(--facebook);
}
.card.twitter:before {
  background-color: var(--facebook-shadown);
}
.card.github:before {
  background-color: var(--github-color);
}
.card.instagram:before {
  background-image: linear-gradient(
    to right,
    var(--instagram-color1) 0%,
    var(--instagram-color3) 50%,
    var(--instagram-color2) 100%
  );
}

.card-followers {
  display: flex;
  flex-direction: column;
}

.card-followers-number {
  color: var(--cards-number);
  font-size: 60px;
  font-weight: bold;
}

.card-footer-title {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--followers-cards);
  font-weight: bold;
}

.plus-today {
  color: var(--green-today);
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.plus-today img {
  width: 20px;
}

/* overview */

.overview-title {
  color: var(--cards-number);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin-top: 80px;
  margin-bottom: 30px;
}

.overview {
  margin-bottom: 20px;
}

/* cad-small */

.card-small {
  background-color: var(--background-cards);
  box-shadow: -2px 10px 15px var(--facebook-shadown);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  transition: 500ms;
}

.card-small-title {
  font-weight: bold;
  color: var(--followers-cards);
}

.card-small-img {
  text-align: end;
}

.card-small-img img {
  width: 30px;
}

.card-small-number {
  color: var(--cards-number);
  font-size: 2.5em;
  font-weight: bold;
}

.card-small-percent {
  text-align: end;
  font-weight: bold;
  color: var(--green-today);
}

@media screen and (min-width: 420px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  /* dezplazar el darkmode */
  .header-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .wrapper-total {
    display: flex;
    flex-direction: row;
    border-bottom: none;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .card-small:hover,
  .card.facebook:hover,
  .card.twitter:hover,
  .card.instagram:hover,
  .card.github:hover {
    transform: scale(1.2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --followers-cards: #96979c;
    --background-cards: #252b43;
    --header-background: #272d43;
    --cards-number: #f9f9f9;
    --body-background: #2d3556;
    --social-user: #c2c2f2;
  }
}
